.topnav{
    background-color: #b2e3df;
    color: white;
    padding: 14px 16px;
    overflow: hidden;
}

.topnav{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #84c9c3;
    color: rgb(0, 0, 0);
}

.topnav a.active {
    background-color: #84c9c3;
   
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

img{
    float: left;
    margin-right: 20px;
}

.imageofme{
    img {
        float: left;
        margin: 20px 20px 15px 20px;
        max-width: 20%;
        max-height: 20%;
        border-radius: 50%;
      }
}

.h2{
    margin-left: 30px;
}
   
.TravelDazzle{
    float: left;
    padding-bottom: 50px;
}

.Curative{
    float: right;
    padding-bottom: 50px;
}

.Government{
    float: left;
    padding-bottom: 50px;
}

.Animal{
    float: right;
    padding-bottom: 50px;
}

nav {
    background-color: rgb(193, 234, 246);
}

ul {
    margin: 0;
}

.text{
    margin-left: 30%;  
}

.h1{
    font-size: 50px;
    font-weight: 900;
}
