.topnav{
    background-color: #b2e3df;
    color: white;
    width: 100%;

}

.topnav{
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color: #84c9c3;
    color: rgb(0, 0, 0);
}

.topnav a.active {
    background-color: #84c9c3;
   
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

img{
    float: left;
    margin-right: 20px;
}

.imageofme{
    img {
        float: left;
        margin: 20px 20px 15px 20px;
        max-width: 20%;
        max-height: 20%;
        border-radius: 50%;
      }
}

.h2 {
    margin-left: 30px;
}

.TravelDazzle{
    float: left;
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

.curative{
    float: left;
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

.Government{
    float: left;
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

.Animal{
    float: left;
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

nav {
    background-color: rgb(193, 234, 246);
}

ul {
    margin: 0;
}

.text{
    margin-left: 30%;  
}

.h1{
    font-size: 50px;
    font-weight: 900;
}
.bottomnav{
    background-color: #b2e3df;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottomnav{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bottomnav a:hover {
    background-color: #84c9c3;
    color: rgb(0, 0, 0);
}

.bottomnav a.active {
    background-color: #84c9c3;
   
}

.h3 {
    text-align: left;
    padding:   110px;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
}
