.topnav, .mobileMenu{
    background-color: #73b4ae;
    color: white;
     display: flex;
     justify-content: flex-end;
     position: sticky;
     top: 0; 
}

.topnav a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.topnav a:hover {
    background-color: #84c9c3;
    color: rgb(0, 0, 0);
}

.topnav a.active {
    background-color: #84c9c3;
   
}
.mobileMenu{
    display: none;
}

.mNavItem {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    border-bottom: 1px solid color #84c9c3;
    color: #73b4ae;
}

.mNavItem.selected{
    font-weight: bold;
    color: #73b4ae;
}
.mobileMenu{
    position: relative;
}
.mobileNav{
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    width: 100vw;
    color: #84c9c3;
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}


.h2 {
    margin-left: 30px;
}

.TravelDazzle{
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

.curative{
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

.Government{
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

.Animal{
    padding-bottom: 50px;
    margin: 20px 20px 15px 20px;
}

nav {
    background-color: rgb(193, 234, 246);
}

ul {
    margin: 0;
}

.text{
    margin-left: 30%;  
}

.h1{
    font-size: 3.125rem;
    font-weight: 900;
}
.h3 {
    display: flex;
    font-size: 1.875rem;
    font-weight: 500;
    background-color: #b2e3df; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.project{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}
.project:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px
}
.project:hover .projectImg{
    opacity: .5;
    
}
.projectContent{
    width: 70%;
    padding: 15px;
    margin-right: 50px;
}
.projectImg{
    width: 29%;
    padding: 5%;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.projectImg:hover{
    opacity: .5;
    cursor: pointer;
}
.projectCta{
    width: 29%;
    padding: 20px;
    background-position: center;
    min-height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectCta:hover .cta{
display: block;
}
.pr1{
    background-image: url(../images/travel\ dazzle\ app.png);
}
.hero{
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #b2e3df;
}
.heroimage{
width: 20%;
border-radius: 50%;
}
.herocontent{
    width: 50%;
}
button{
	padding: 15px;
	background-color: #b2e3df;
    border-color: #73b4ae;
	border-radius: 16px;
	width: 150px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
.cta{
    display: none;
}

@media all and (max-width: 1400px){

}

@media all and (max-width: 992px){
    
}

@media all and (max-width: 768px){
    
}

@media all and (max-width: 576px) {
    .mobileMenu {
        display: block;
    }
    div.topnav{
       display: none; 
    }
    .topnav{
       padding: 20px 0; 
    }
}
